flask>=3.1,<4
pandas>=2.0,<4
numpy>=1.26,<3
scipy>=1.13,<2
plotly>=5.22,<6
kaleido==0.2.1
statsmodels>=0.14,<1
flask-wtf>=1.2,<2
sqlalchemy>=2.0,<3
weasyprint>=60,<70
reportlab>=4.0,<5
svglib>=1.5,<2
requests>=2.31,<3
SPARQLWrapper>=2.0,<3
diskcache>=5.6,<6
